* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./8afcaacd280d3335af2d27bcdf3d6c72\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    min-width: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: aliceblue; */
    font-size: 6rem;

}

p {
    text-align:center;
}

sup {
    font-size: 2rem !important;
}